/*
  Title:       SpotSale
  IDs:         301208156, 301236904, 301251832, 301313468, 301268678
  Description: Feedback to user form validation
*/
/* comments */
.commentr {
  float:right;
  clear:both;
  background: #eee;
  border-radius: 20px;
  width:60%;
  padding: 5px;
}

.commentr p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 4%;
  margin: 0;
  padding: 0;
}

.commentl {
  float:left;
  clear:both;
  background: #eee;
  border-radius: 20px;
  width:60%;
  margin: 0.1in;
  padding: 5px;
}

.commentl p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 4%;
  margin: 0;
  padding: 0;
}